.nav-ufo {
    max-height: 100px;
    min-height: 50px;
    max-width: 120px;
    min-width: 40px;
}

.table, th, td{
    background-color: black;
}

#myTable{
    padding: 20px
    border: 1px solid black;
}

#filter-btn{
    background-color: black;
    color: white
}
#datetime{
    width: 100%; /* Full-width */
    font-size: 15px; /* Increase font-size */
    padding: 6px 10px 6px 10px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
.btn {
    background-color: black;
    color: white
}