.nav-ufo {
    max-height: 100px;
    min-height: 50px;
    max-width: 120px;
    min-width: 40px;
}

.table, th, td  {
    background-color: black;
}

#myTable {
    padding: 20px
    border: 1px solid black;
}

#filter-btn{
    background-color: black;
    color: white
}